services:
  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    image: wordpress
    container_name: wordpress
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_ADMIN_USER: ${WORDPRESS_ADMIN_USER}
      WORDPRESS_ADMIN_PASSWORD: ${WORDPRESS_ADMIN_PASSWORD}
      WORDPRESS_ADMIN_EMAIL: ${WORDPRESS_ADMIN_EMAIL}
      WORDPRESS_TITLE: ${WORDPRESS_TITLE}
      WORDPRESS_USER: ${WORDPRESS_USER}
      WORDPRESS_PASSWORD: ${WORDPRESS_PASSWORD}
      WORDPRESS_EMAIL: ${WORDPRESS_EMAIL}
      WORDPRESS_ROLE: ${WORDPRESS_ROLE}
    volumes:
      - wordpress_volume:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
    restart: always
  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    image:
      nginx
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - wordpress_volume:/var/www/html
      - ./requirements/nginx/conf/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./../secrets:/etc/ssl/inception
    networks:
      - inception
    depends_on:
      -  wordpress
    restart: always
    extra_hosts:
      - "jguaglio.42.fr:10.0.2.15"
  mariadb:
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    image: mariadb
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mariadb_volume:/var/lib/mysql
    networks:
      - inception
    restart: always

networks:
  inception:

volumes:
  mariadb_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/jguaglio/data/mariadb_volume
  wordpress_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/jguaglio/data/wordpress_volume
